@media screen and (max-width: 767px) {
    .tubsDescription {
        // margin-left: 40px;
        // margin-right: 40px;
        padding-bottom: 20px;
        font-size: 12px;
        max-width: 100%;
        word-wrap: break-word;
    }
}

  @media screen and (min-width: 768px) {
    .tubsDescription {
        margin-left: 40px;
        margin-right: 40px;
        padding-bottom: 50px;
        font-size: 18px;
    }    
    }