.imageContainer {
    position: relative;
  }
  
  .image {
    width: 100%;
    height: auto;
  }

  .btnClickthroughToTubs:hover {
    color:#02ccff;
  }
  
  @media screen and (max-width: 767px) {
    .homepageImageContainer {
        max-width: 100%;
        object-fit: cover;
    }
    .textOverlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 50%;
        background-color: white;
      }

      .titleText {
        color: #24252A;
        font-size: 26px;
      }
      
      .primaryText {
        color: #24252A;
        font-size: 32px;
        color: white;
        -webkit-text-stroke: 1px black;
      }
    
      .btnClickthrough {
        position: absolute;
        top: 80%;
        left: 38%;
        border: 1px;
      }
    
      .btnClickthroughToTubs {
        background-color: #24252A;
        border: none;
        border-radius: 20px;
        color: white;
        padding: 7px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
      }
    
      .btnClickthroughToTubs:hover {
        // cursor: pointer;
        color: #02ccff;
      } 
}

  @media screen and (min-width: 768px) {
        .textOverlay {
            position: absolute;
            top: 52%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 30%;
            background-color: white;
          }
    
          .titleText {
            color: #24252A;
          }
          
          .primaryText {
            color: #24252A;
            font-size: 60px;
            color: white;
            -webkit-text-stroke: 1px black;
          }
        
          .btnClickthrough {
            position: absolute;
            top: 80%;
            left: 45%;
          }
        
          .btnClickthroughToTubs {
            background-color: #24252A;
            border: none;
            border-radius: 20px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
          }
        
          .btnClickthroughToTubs:hover {
            cursor: pointer;
          }     
    }