
.textContainer {
    margin-top: 50px;
    color: white;
}

.pText {
    color: blueviolet;
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .mainContainer {
        width: 100%;
        height: 725px;
    }
    .welcomeTitle{
        margin-bottom: 30px;
    }
}

  @media screen and (min-width: 768px) {
    .mainContainer {
        width: 100%;
        height: 400px;
    }
    .welcomeTitle {
        margin-bottom: 40px;
    }
}