@media screen and (max-width: 767px) {
  .returnBtn {
    float: left;
    background-color: white;
    border: none;
    border-radius: 20px;
    color: #24252A;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    &:hover {
      cursor: pointer;
      background-color: #02ccff;
      color: white;
    }
  }

    .detailViewContainer {
        width: 300px;
        color: white;
        height: 550px;
        border: 1px solid white;
        border-radius: 10px;
        margin-top: 40px;
    }
    
    .imageContainer {
        align-items: center;
      }
      
      .textContainer {
        height: 200px;
    }
    
    .textInfo {
        height: 175px;
        width: 300px;
    }
    
    .enquiryContainer {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .btnEnquiry {
        background-color: white;
        border: none;
        border-radius: 20px;
        color: #24252A;
        padding: 7px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
          &:hover {
        cursor: pointer;
      } 
  }
}

  @media screen and (min-width: 768px) {
    .returnBtn {
      float: left;
      background-color: white;
      border: none;
      border-radius: 20px;
      color: #24252A;
      padding: 10px 22px;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        cursor: pointer;
      }
    }

    .detailViewContainer {
        width: 850px;
        color: white;
        max-height: 500px;
        border: 1px solid white;
        border-radius: 10px;
        margin-top: 75px;
    }
    
    .imageContainer {
        display: flex;
        align-items: center;
      }
      
      .textContainer {
        height: 400px;
    }
    
    .textInfo {
        height: 200px;
        margin-top: 50px;
    }
    
    .enquiryContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
      }
    
      .btnEnquiry {
        background-color: white;
        border: none;
        border-radius: 20px;
        color: #24252A;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    
      .btnEnquiry:hover {
        cursor: pointer;
      } 
  }