body {
    background-color: #24252A;
}

@media screen and (max-width: 767px) {
    body {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    }
}

  @media screen and (min-width: 768px) {
    body {
      display: grid;
      justify-content: center;
      text-align: center;      
    }
}

// @media screen and (min-width: 1295px) {
//     body {
//       display: grid;
//       justify-content: center;
//       text-align: center;   
//     }
// }