// .mainPage {
//   display: grid;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//   grid-gap: 20px;
// }

// @media screen and (max-width: 767px) {
//   .mainPage {
//     grid-template-columns: 1fr;
//     display: grid;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//   }

//   @media screen and (min-width: 768px) {
//     .mainPage {
//       grid-template-columns: 1fr;
//       display: grid;
//       align-items: center;
//       justify-content: center;
//       text-align: center;      
//     }
// }

// @media screen and (min-width: 956px) {
//   .mainPage {
//     grid-template-columns: 1fr;
//     display: grid;
//     align-items: center;
//     justify-content: center;
//     text-align: center;      
//   }
// }
// }