$width280: 280px;
$height60: 60px;
$flexDirectionRow: row;
$justifyContentCenter: center;
$alignItemsCenter: center;
$displayGrid: grid;
$placeItemsCenter: center;

@media screen and (max-width: 767px) {
    .weatherCard {
        width: 300px;
        height: 520px;
        background-color: whitesmoke;
        border-radius: 5px;
    }

    .mainTitle {
        font-size: 24px;
        padding-top: 20px;
        text-decoration: underline;
    }

    .infoContainer {
        width: 300px;
        // border: 1px solid green;
        height: 80px;
        display: flex;
        flex-direction: $flexDirectionRow;
        justify-content: $justifyContentCenter;
        align-items: $alignItemsCenter;
    }

    .titleContainer {
        // border: 1px solid blue;
        width: $width280;
        height: $height60;
        display: $displayGrid;
        place-items: $placeItemsCenter;
        }

    .resultContainer {
        width: 280px;
        height: $height60;
        display: $displayGrid;
        place-items: $placeItemsCenter;
    }

    .result {
        color: green;
    }
}

@media screen and (min-width: 768px) {
    .weatherCard {
        width: 600px;
        height: 660px;
        background-color: whitesmoke;
        border-radius: 5px;
    }

    .mainTitle {
        font-size: 32px;
        padding-top: 20px;
        text-decoration: underline;
    }

    .infoContainer {
        width: 600px;
        // border: 1px solid green;
        height: 100px;
        display: flex;
        flex-direction: $flexDirectionRow;
        justify-content: $justifyContentCenter;
        align-items: $alignItemsCenter;
        font-size: 22px;
    }

    .titleContainer {
        // border: 1px solid blue;
        width: 280px;
        height: $height60;
        display: $displayGrid;
        place-items: $placeItemsCenter;
    }

    .resultContainer {
        // border: 1px solid red;
        width: 280px;
        height: $height60;
        display: $displayGrid;
        place-items: $placeItemsCenter;
    }

    .result {
        color: green;
    }
}