$border-radius: 5px;

@media screen and (max-width: 767px) {
    .contactFormContainer {
        width: 300px;
        height: 390px;
        background-color: whitesmoke;
        border-radius: $border-radius;
    }
    
    .contactTitle {
        padding-top: 15px;
    }

    .inputField {
        border: 1px solid lightgray;
        width: 90%;
        margin-bottom: 10px;
        font-size: 18px;
    }
    
    .contactBtn {
        width: 90%;
        background-color: #24252A;
        color: whitesmoke;
        font-size: 18px;
        border-radius: $border-radius;
    }
}

  @media screen and (min-width: 768px) {
        .contactFormContainer {
            width: 600px;
            height: 400px;
            background-color: whitesmoke;
            border-radius: $border-radius;
        }

        .contactTitle {
            padding-top: 15px;
        }
        
        .inputField {
            border: 1px solid lightgray;
            width: 90%;
            margin-bottom: 10px;
            font-size: 18px;
        }
        
        .contactBtn {
            width: 90%;
            background-color: #24252A;
            color: whitesmoke;
            font-size: 18px;
            border-radius: $border-radius;
        }
    }