.description {
    color: whitesmoke;
    text-align: center;
    position: inherit;
    justify-content: center;
    align-items: center;
}

// @media screen and (max-width: 767px) {
//     .description {
//         width: 325px;
//     }
// }

//   @media screen and (min-width: 768px) {
//     .tubsDescription {
//         margin-left: 40px;
//         margin-right: 40px;
//         padding-bottom: 50px;
//         font-size: 18px;
//     }    
//     }