.navbar {
  color: whitesmoke;
  z-index: 2;
  margin-bottom: 20px;
  }

.logo {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin-right: 100px;
}

.navbarNav {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-right: 15px;
}

.navLink {
  color: whitesmoke;
  text-decoration: none;
  &:hover {
    color: #02ccff;

  }
}