@media screen and (max-width: 767px) {
    .imageContainer {
        height: 300px;
    }
    
    .imageSize {
        width: 300px;
        height: 300px;
        float: left;
        border-radius: 10px 10px 0 0;
    }
}

@media screen and (min-width: 768px) {
    .imageContainer {
        float: left;
        height: 500px;
    }
    
    .imageSize {
        width: 500px;
        height: 500px;
        float: left;
        border-radius: 10px 0 0 10px;
    }
}