$whitesmoke: whitesmoke;
$bold: 700;
$width: 300px;

.cards {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    flex: 0 0 300px;
    max-width: 100%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.cardContainer {
    width: 100%;
    height: 250px;
}

.cardImage {
    width: $width;
    height: 80%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardImageSize {
    width: $width;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardPrice {
    width: $width;
    height: 25%;
    background-color:#03aed9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cardTitle {
    color: $whitesmoke;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

.cardSubTitle {
    color: $whitesmoke;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
}

.cardContainer:hover {
    cursor: pointer;
}

.cardPrice:hover {
    font-weight: $bold;
    transition: 0.4s;
}