@media screen and (max-width: 767px) {
    .container {
        color: white;
        text-align: center;
        position: absolute;
        // bottom: 10;
        left: 0;
        // padding: 10px 0;
        width: 100%;
    }
}

  @media screen and (min-width: 768px) {

}